body {
  margin: 0;
}

/* BOX 1 */
.box1 {
  background: url(image/home.webp1.jpg);
  border: 2px solid rgb(12, 12, 12);
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  filter: brightness(220%);
}

.transbox1 {

  justify-content: center;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.l {
  display: flex;
  justify-content: center;
}

.transbox1 p {
  margin: 1.8%;
  text-align: center;
  color: white;
  line-height: auto;
}
/*
.b {
  display: flex;
  justify-content: center;

}

.button {
  display: flex;
  justify-content: center;
  border-radius: 30% 0% 30% 0%;
  background-color: #0e7fc6;
  background-image: linear-gradient(to right, rgb(0, 247, 255), rgb(88, 93, 243));
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 180px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
*/
/* END OF BOX 1 */


/* BOX 2 */
.box2 {
  background: url(image/page1\ only\ photo.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  filter: brightness(120%);
}

.transbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.70);
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 0px;
}

.transbox2 p {
  margin-top: 50px;
  margin-bottom: 2px;
  text-align: left;
  color: white;
  border: 2px solid #0e7fc6;
  border-radius: 20px;
  font-size: 18px;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  width: 100%;
  max-width: 900px;
  height: auto;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .transbox2 p {
    font-size: auto;
    width: 90%;
    max-width: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .transbox2 {
    padding: 0px;
  }
}

.b {
  display: flex;
  justify-content: left;
  margin-left: 220px;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 30% 0% 30% 0%;
  background-color: #0e7fc6;
  background-image: linear-gradient(to right, rgb(0, 247, 255), rgb(88, 93, 243));
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 180px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* END OF BOX 2 */


/* BOX 3 */
.box3 {
  background: url(image/page2\ only.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox3 {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  width: 100%;
  height: auto;
}

.transbox3 p {
  text-align: left;
  color: white;
  border: 2px solid #0e7fc6;
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px;
  width: auto;
  height: auto;
  line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: 2px solid #0e7fc6;
  padding: 35px 15px 5px;
  margin-bottom: 30px;
}

.cont {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.left,
.mid,
.right {
  width: 30%;
  height: auto;
  color: #000000;
  text-align: center;
  margin-left: 20px;
  margin-right: 35px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .mid,
  .right {
    width: 100%;
    margin: 0;
  }
}


.transbox3 h3,
.transbox3 h4,
.container h4 {
  font-size: 18px;
}

.transbox3 img {
  width: 30px;
  height: 30px;
}

.container {

  align-items: center;
  padding: 20px;
}

.cont {
  margin-top: 20px;
}


.transbox3 p,
.container h4,
.cont h4 {
  padding: 15px;
  margin: 10px 0;
}
/* END OF BOX 3 */


/* BOX 4 */
.box4 {
  background: url(image/page3\ background.jpg);
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  
}

.transbox4 {
  /*background-color: #9e7575;*/
  background-color: rgba(0, 0, 0, 0.50);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.transbox4 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 1.5;
}


.lg1 {
  margin-left: 100px;
  margin-top: 30px; 
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: auto;
  height: auto;
}

.img1 {
  width: 350px;
  
  height: auto;
  border-radius: 40px;
  
}

.left1,
.right1 {
  height: auto;
  border-radius: 30px;
  color: #000000;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  
}

.left1 {
  border: 2px solid #0e7fc6;
  margin-right: 0px;
}


@media screen and (min-width: 600px) {
  .left1 {
    width: 45%;
    margin-bottom: 0;
  }

  .right1 {
    width: 45%;
    margin-bottom: 0;
    margin-top: 0;
    
  }
}

@media screen and (max-width: 500px) {
  .left1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .right1 {
    padding: 0px;
  }

  .lg1 {
    margin-left: 10px;
  }
}
/* END OF BOX 4 */


/* BOX 5 */
.box5 {
  background: url(image/page4\ background\ \(2\).jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox5 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid black;
  
  width: 100%;
  height: auto;
}

.transbox5 p {
  margin: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  line-height: 0.1;
}

.container2 {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
}

.column {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.column img {
  width: 350px;
  height: auto;
  border-radius: 30px;
  margin-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 601px) {
  .column {
    float: left;
    width: 48%;
    margin-left: 10pX;
  }

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-left: 0;
  }

  .column img {
    margin-left: 0;
  }

  .lg2 {
    margin: 0;
  }

  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* END OF BOX 5 */


/* BOX 6 */
.box6 {
  background: url(image/page5\ background.JPG) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox6 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.66);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.container3 {
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
  padding-top: 35px;
  box-sizing: border-box;
}

.column1 {
  margin-left: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}


.row1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 601px) {
  .column1 {
    float: left;
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    margin-left: 0;
  }
}
/* END OF BOX 6 */


/* BOX 7 */
.box7 {
  background: url(image/marine.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width:100%;
  height:auto;
}

.lg4 {
  margin-left: 100px;
}

.transbox7 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.50);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.transbox7 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 1.5;
}

.container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
}

.column2 {
  width: 80%;
  max-width: auto;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-right: 0%;
}

.column2 img {
  width: 650px;
  height: auto;
  border-radius: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container4 {
    flex-direction: column;
  }

  .column2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .row2 {
    padding: 10px;
  }
}
/* END OF BOX 7 */


/* BOX 8 */
.box8 {
  background: url(image/page\ 7\ background.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox8 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.transbox8 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 0.1;
}

.container5 {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
  padding: 35px 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column3 {
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;

}

.column3 img {
  width: 350px;
  height: auto;
  border-radius: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container5 {
    flex-direction: column;
    align-items: flex-start;
  }

  .column3 {
    width: 100%;
    margin-right: 0;
  }

  .column3 img {
    width: 100%;
  }
}
/* END OF BOX 8 */


/* BOX 9 */
.box9 {
  background: url(image/page8\ background.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox9 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.transbox9 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 0.1;
}

.container6 {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
  padding: 35px 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column4 {
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.column4 img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container6 {
    flex-direction: column;
    align-items: flex-start;
  }

  .column4 {
    width: 100%;
    margin-right: 0;
  }
}

/* END OF BOX 9 */


/* BOX 10 */
.box10 {
  background: url(image/page9\ background.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox10 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.60);
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.transbox10 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 0.1;
}

.container7 {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
  padding: 35px 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column5 {
  width: auto;
  margin-left: 10px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.column5 img {
  width: 100%;
  height: auto;
  padding: 0px;
  border-radius: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container7 {
    flex-direction: column;

  }

  .column5 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .column5 img {
    width: 100%;

  }
}

/* END OF BOX 10 */



/* BOX 11 */
.box11 {
  background: url(image/page\ 11.jpg) no-repeat;
  border: 2px solid black;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.transbox11 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  opacity: 0.85;
  width: 100%;
  height: auto;
}

.transbox11 p {
  margin: 5%;
  text-align: center;
  color: white;
  line-height: 0.1;
}

.container8 {
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
  margin-bottom: 80px;
  padding: 35px 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column6 {
  width: 70%;
  padding: 10px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.column6 img {
  width: 350px;
  height: auto;
  border-radius: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .container8 {
    flex-direction: column;
    align-items: flex-start;
  }

  .column6 {
    width: 100%;
    margin-right: 0;
  }

  .column6 img {
    width: 100%;
  }
}
/* END OF BOX 11 */


/* FOOTOR */

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  background: #7aacf6;
  height: auto;
  padding-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo{
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto; 
  max-width: 100%; 
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  height: auto;
}

.menu {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: auto;
  margin-top: 20px;
  margin-left: 39px;
  padding: 10px;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}


.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 2;
}

.pf {
  margin: 0px;
}

.ad {
  width: 50%;
  height: auto;
  background: #689dec;
  margin-right: 15px;
}

.ad p {
  line-height: 1.1;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  padding: auto;

}

.bd {
  margin-right: 30px;
  width: 25%;
  margin-top: 30px;
}

.bd .bdp1 {
  line-height: 0.9;
  font-weight: 00;
  font-size: 18px;
  text-align: center;
}

.bd .bdp {
  line-height: 0.9;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
}

.footer p {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 100% 100%;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWaves 11s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.3;
  bottom: 10px;
  animation: animate 10s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 9s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.5;
  bottom: 20px;
  animation: animate 8s linear infinite;
}


@media (max-width: 768px) {
  .footer {
    padding: 1.5px;
  }

  .contain {
    align-items: center;
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    float: left;
    margin-left: 0px;
    padding: 0px;
    top: -30px;
    margin-bottom: 0px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .pf {
    text-align: center;
  }

  .social-icon {
    padding: 0px;
  }

  .ad {
    padding: 10px;
    margin-right: 0px;
    width: auto;
  }

  .bd {
    margin-right: 0px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .menu__link,
  .social-icon__link,
  .contact-info__item {
    margin: 10px;
  }
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}


@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
}

 /*END OF FOOTOR */
